.padding-left-3 {
  padding-left: 3% !important;
}
.fs-bold {
  font-weight: bolder;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.title-name {
  width: 150px;
}
.w-80 {
  width: 80vw !important;
}
.w-90-p {
  width: 90% !important;
}
.w-100-p {
  width: 100% !important;
}
.jcr {
  justify-content: right;
}
.jcl {
  justify-content: left;
}
.jcc {
  justify-content: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.p-t-5 {
  padding-top: 5px;
}
.p-10-p {
  padding-top: 10px;
}
.w-100 {
  width: 100% !important;
}
.padding-5px {
  padding: 5px;
}
.p-15px {
  padding: 15px !important;
}
.m-5px {
  margin: 5px !important;
}
.m-0 {
  margin: 0 !important;
}
.m-b-5px {
  margin-bottom: 5px !important;
}
.schedule-card {
  margin: 15px;
}
.p-t-15px {
  padding-top: 15px !important;
}
.ofh {
  overflow-y: auto;
}
.fs-small {
  font-size: 8px;
}
